:root{
  --primary-black: #000;
  
}
body{
  font-family: Arial, Helvetica, sans-serif;
}
/*******************Navbar*****************************/

.nav{
  z-index: 3;
  position: sticky;
}
.logo{
  width: 4rem;
}

/*****Nav Links****/

nav a.nav-link{
  font-weight:900;
 
  cursor: pointer;
}

nav ul li{
  transform: uppercase;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.navbar-nav > li > a{
  color: var(--primary-black)!important;
  margin-right: 0.75rem;
  margin-left: 0.75rem;


}

.navbarbrand{
  max-width: 4rem;
  padding: 0 !important;
  height: 6rem !important;
}

.navbar-nav > li > a.active, .navbar-nav > li > a:focus{ 
  
color: hotpink ;
font-weight: bolder;
}

.navbar-nav > li > a.hover{
  color: hotpink ;
font-weight: bolder;

}

/****************HEADER***********************/

.headerWrap{
  position: relative;
  background: url(header-bg.jpg) no-repeat ;
  background-size: cover;
  background-position: center;
  height: 90vh;
}

.mainInfo{
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom:0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 1;
}

.mainInfo h1 {
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-weight:900;
  font-size: 15vh;
  }

/***********typed text**************/
.typedText{
  color: hotpink;
  font-weight: 800;
  font-size: 5vh;
  }

/**************show me button**************/

.btn-showMe{
  border: 5px solid;
  border-color: white;
  border-radius: 0;
  text-transform: uppercase;
  padding: 0.65rem 0.75rem 0.75rem 0.75rem;
  color: white;
  margin-top: 2rem;
}

/**************particles**************/
.tsparticles-canvas-el{
  position: absolute;
  height: 100vh;
  width: 100vw;
  z-index: 1;
}

/**************Cards**************/

.card{
  border: 10px solid;
  
}



/**************FORM**************/

.contactUs input, .contactUs textarea{
  width: 100%;
  box-sizing: border-box;
  background: none;
  border:none;
  border-bottom: 0.125rem solid hotpink;
  border-radius: 0;
  outline: 0 !important;
  box-shadow: none !important;
  margin-bottom: 1rem;
  
}

.contactUs .container{
  padding: 4rem 0;
}

.contactUs input:focus, .contactUs textarea:focus{
  background: transparent;
  color: hotpink;
  border-bottom: 0.125rem solid hotpink;

}


.contactUs textarea{
  height: 12.4rem !important;
  
}

.contactUs button{
  width: 100%;
  margin: 1rem 0 0 0;
  background: none;
  border: 2px solid hotpink;
  color: hotpink
}

.contactUs button:hover{
color: white;
background-color: hotpink;
}

/**************FORM MEDIA QUERIES**************/

@media(max-width:768px) {
  .contactUs .container{
    padding: 1rem 0;
    overflow-x: hidden;
  }

    .contactUs p{
    padding: 0 1rem;
  }
}


/************************map marker*****************/
.marker {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 18px;
    height: 18px;
    background-color: #000;
    border: 2px solid #fff;
    border-radius: 100%;
    user-select: none;
    transform: translate(-50%, -50%);
    z-index: 5;
    
  }


